In [ ]:
import pandas as pd                     # Pandas is used for handling data tables (DataFrames)
import sqlite3                          # sqlite3 allows Python to connect to and manage SQLite databases
import prettytable                      # PrettyTable is used to format SQL query results nicely in Jupyter

prettytable.DEFAULT = 'DEFAULT'         #Changes internal attribute of prettytable.

%load_ext sql                           # Load the SQL extension for Jupyter/IPython.

# Conect ipython-sql Ã  BD (Essential to use %sql/%%sql)
%sql sqlite:///RealWorldData.db

# Read file
url = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoPublicSchools.csv"
df = pd.read_csv(url)

# Conect to DB
con = sqlite3.connect("RealWorldData.db")

# Record CSV values in DB
df.to_sql("chicago_socioeconomic_data", con, if_exists='replace', index=False)

# Check if recorded
print("Tabela criada com sucesso com", len(df), "linhas.")

The sql extension is already loaded. To reload it, use:
  %reload_ext sql
Tabela criada com sucesso com 566 linhas.

In [20]:
#Get all table names from DB
%sql SELECT name FROM sqlite_master WHERE type='table';

 * sqlite:///RealWorldData.db
Done.

[('chicago_socioeconomic_data',)]

In [34]:
#Get all the columns
%sql SELECT name FROM pragma_table_info('chicago_socioeconomic_data');

 * sqlite:///RealWorldData.db
Done.

[('School_ID',),
 ('NAME_OF_SCHOOL',),
 ('Elementary, Middle, or High School',),
 ('Street_Address',),
 ('City',),
 ('State',),
 ('ZIP_Code',),
 ('Phone_Number',),
 ('Link',),
 ('Network_Manager',),
 ('Collaborative_Name',),
 ('Adequate_Yearly_Progress_Made_',),
 ('Track_Schedule',),
 ('CPS_Performance_Policy_Status',),
 ('CPS_Performance_Policy_Level',),
 ('HEALTHY_SCHOOL_CERTIFIED',),
 ('Safety_Icon',),
 ('SAFETY_SCORE',),
 ('Family_Involvement_Icon',),
 ('Family_Involvement_Score',),
 ('Environment_Icon',),
 ('Environment_Score',),
 ('Instruction_Icon',),
 ('Instruction_Score',),
 ('Leaders_Icon',),
 ('Leaders_Score',),
 ('Teachers_Icon',),
 ('Teachers_Score',),
 ('Parent_Engagement_Icon',),
 ('Parent_Engagement_Score',),
 ('Parent_Environment_Icon',),
 ('Parent_Environment_Score',),
 ('AVERAGE_STUDENT_ATTENDANCE',),
 ('Rate_of_Misconducts__per_100_students_',),
 ('Average_Teacher_Attendance',),
 ('Individualized_Education_Program_Compliance_Rate',),
 ('Pk_2_Literacy__',),
 ('Pk_2_Math__',),
 ('Gr3_5_Grade_Level_Math__',),
 ('Gr3_5_Grade_Level_Read__',),
 ('Gr3_5_Keep_Pace_Read__',),
 ('Gr3_5_Keep_Pace_Math__',),
 ('Gr6_8_Grade_Level_Math__',),
 ('Gr6_8_Grade_Level_Read__',),
 ('Gr6_8_Keep_Pace_Math_',),
 ('Gr6_8_Keep_Pace_Read__',),
 ('Gr_8_Explore_Math__',),
 ('Gr_8_Explore_Read__',),
 ('ISAT_Exceeding_Math__',),
 ('ISAT_Exceeding_Reading__',),
 ('ISAT_Value_Add_Math',),
 ('ISAT_Value_Add_Read',),
 ('ISAT_Value_Add_Color_Math',),
 ('ISAT_Value_Add_Color_Read',),
 ('Students_Taking__Algebra__',),
 ('Students_Passing__Algebra__',),
 ('9th Grade EXPLORE (2009)',),
 ('9th Grade EXPLORE (2010)',),
 ('10th Grade PLAN (2009)',),
 ('10th Grade PLAN (2010)',),
 ('Net_Change_EXPLORE_and_PLAN',),
 ('11th Grade Average ACT (2011)',),
 ('Net_Change_PLAN_and_ACT',),
 ('College_Eligibility__',),
 ('Graduation_Rate__',),
 ('College_Enrollment_Rate__',),
 ('COLLEGE_ENROLLMENT',),
 ('General_Services_Route',),
 ('Freshman_on_Track_Rate__',),
 ('X_COORDINATE',),
 ('Y_COORDINATE',),
 ('Latitude',),
 ('Longitude',),
 ('COMMUNITY_AREA_NUMBER',),
 ('COMMUNITY_AREA_NAME',),
 ('Ward',),
 ('Police_District',),
 ('Location',)]

In [22]:
%sql SELECT * FROM chicago_socioeconomic_data limit 5;

 * sqlite:///RealWorldData.db
Done.

[(610038, 'Abraham Lincoln Elementary School', 'ES', '615 W Kemper Pl', 'Chicago', 'IL', 60614, '(773) 534-5720', 'http://schoolreports.cps.edu/SchoolProgressReport_Eng/Spring2011Eng_610038.pdf', 'Fullerton Elementary Network', 'NORTH-NORTHWEST SIDE COLLABORATIVE', 'No', 'Standard', 'Not on Probation', 'Level 1', 'Yes', 'Very Strong', 99.0, 'Very Strong', '99', 'Strong', 74.0, 'Strong', 66.0, 'Weak', '65', 'Strong', '70', 'Strong', '56', 'Average', '47', '96.00%', 2.0, '96.40%', '95.80%', '80.1', '43.3', '89.6', '84.9', '60.7', '62.6', '81.9', '85.2', '52', '62.4', '66.3', '77.9', 69.7, 64.4, 0.2, 0.9, 'Yellow', 'Green', '67.1', '54.5', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 813, 33, 'NDA', 1171699.458, 1915829.428, 41.92449696, -87.64452163, 7, 'LINCOLN PARK', 43, 18, '(41.92449696, -87.64452163)'),
 (610281, 'Adam Clayton Powell Paideia Community Academy Elementary School', 'ES', '7511 S South Shore Dr', 'Chicago', 'IL', 60649, '(773) 535-6650', 'http://schoolreports.cps.edu/SchoolProgressReport_Eng/Spring2011Eng_610281.pdf', 'Skyway Elementary Network', 'SOUTH SIDE COLLABORATIVE', 'No', 'Track_E', 'Not on Probation', 'Level 1', 'No', 'Average', 54.0, 'Strong', '66', 'Strong', 74.0, 'Very Strong', 84.0, 'Weak', '63', 'Strong', '76', 'Weak', '46', 'Average', '50', '95.60%', 15.7, '95.30%', '100.00%', '62.4', '51.7', '21.9', '15.1', '29', '42.8', '38.5', '27.4', '44.8', '42.7', '14.1', '34.4', 16.8, 16.5, 0.7, 1.4, 'Green', 'Green', '17.2', '27.3', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 521, 46, 'NDA', 1196129.985, 1856209.466, 41.76032435, -87.55673627, 43, 'SOUTH SHORE', 7, 4, '(41.76032435, -87.55673627)'),
 (610185, 'Adlai E Stevenson Elementary School', 'ES', '8010 S Kostner Ave', 'Chicago', 'IL', 60652, '(773) 535-2280', 'http://schoolreports.cps.edu/SchoolProgressReport_Eng/Spring2011Eng_610185.pdf', 'Midway Elementary Network', 'SOUTHWEST SIDE COLLABORATIVE', 'No', 'Standard', 'Not on Probation', 'Level 2', 'No', 'Strong', 61.0, 'NDA', 'NDA', 'Average', 50.0, 'Weak', 36.0, 'Weak', 'NDA', 'NDA', 'NDA', 'Average', '47', 'Weak', '41', '95.70%', 2.3, '94.70%', '98.30%', '53.7', '26.6', '38.3', '34.7', '43.7', '57.3', '48.8', '39.2', '46.8', '44', '7.5', '21.9', 18.3, 15.5, -0.9, -1.0, 'Red', 'Red', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 1324, 44, 'NDA', 1148427.165, 1851012.215, 41.74711093, -87.73170248, 70, 'ASHBURN', 13, 8, '(41.74711093, -87.73170248)'),
 (609993, 'Agustin Lara Elementary Academy', 'ES', '4619 S Wolcott Ave', 'Chicago', 'IL', 60609, '(773) 535-4389', 'http://schoolreports.cps.edu/SchoolProgressReport_Eng/Spring2011Eng_609993.pdf', 'Pershing Elementary Network', 'SOUTHWEST SIDE COLLABORATIVE', 'No', 'Track_E', 'Not on Probation', 'Level 1', 'No', 'Average', 56.0, 'Average', '44', 'Average', 45.0, 'Weak', 37.0, 'Weak', '65', 'Average', '48', 'Average', '53', 'Strong', '58', '95.50%', 10.4, '95.80%', '100.00%', '76.9', 'NDA', '26', '24.7', '61.8', '49.7', '39.2', '27.2', '69.7', '60.6', '9.1', '18.2', 11.1, 9.6, 0.9, 2.4, 'Green', 'Green', '42.9', '25', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 556, 42, 'NDA', 1164504.29, 1873959.199, 41.8097569, -87.6721446, 61, 'NEW CITY', 20, 9, '(41.8097569, -87.6721446)'),
 (610513, 'Air Force Academy High School', 'HS', '3630 S Wells St', 'Chicago', 'IL', 60609, '(773) 535-1590', 'http://schoolreports.cps.edu/SchoolProgressReport_Eng/Spring2011Eng_610513.pdf', 'Southwest Side High School Network', 'SOUTHWEST SIDE COLLABORATIVE', 'NDA', 'Standard', 'Not on Probation', 'Not Enough Data', 'Yes', 'Average', 49.0, 'Strong', '60', 'Strong', 60.0, 'Average', 55.0, 'Weak', '45', 'Average', '54', 'Average', '53', 'Average', '49', '93.30%', 15.6, '96.90%', '100.00%', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', None, None, None, None, 'NDA', 'NDA', 'NDA', 'NDA', '14.6', '14.8', 'NDA', '16', '1.4', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 302, 40, '91.8', 1175177.622, 1880745.126, 41.82814609, -87.63279369, 34, 'ARMOUR SQUARE', 11, 9, '(41.82814609, -87.63279369)')]

In [41]:
#Number of Elementary Schools 
%sql SELECT COUNT (*) FROM chicago_socioeconomic_data WHERE [Elementary, Middle, or High School]='ES';

 * sqlite:///RealWorldData.db
Done.

[(462,)]

In [ ]:
#Highest Safety Score
%sql SELECT MAX (SAFETY_SCORE) FROM chicago_socioeconomic_data;

 * sqlite:///RealWorldData.db
Done.

[(99.0,)]

In [44]:
#Schools with the Highest Safety Score
%sql SELECT NAME_OF_SCHOOL FROM chicago_socioeconomic_data WHERE [SAFETY_SCORE]=99;

 * sqlite:///RealWorldData.db
Done.

[('Abraham Lincoln Elementary School',),
 ('Alexander Graham Bell Elementary School',),
 ('Annie Keller Elementary Gifted Magnet School',),
 ('Augustus H Burley Elementary School',),
 ('Edgar Allan Poe Elementary Classical School',),
 ('Edgebrook Elementary School',),
 ('Ellen Mitchell Elementary School',),
 ('James E McDade Elementary Classical School',),
 ('James G Blaine Elementary School',),
 ('LaSalle Elementary Language Academy',),
 ('Mary E Courtenay Elementary Language Arts Center',),
 ('Northside College Preparatory High School',),
 ('Northside Learning Center High School',),
 ('Norwood Park Elementary School',),
 ('Oriole Park Elementary School',),
 ('Sauganash Elementary School',),
 ('Stephen Decatur Classical Elementary School',),
 ('Talman Elementary School',),
 ('Wildwood Elementary School',)]

In [46]:
#top 10 schools with the highest "Average Student Attendance"
%sql select Name_of_School, Average_Student_Attendance from chicago_socioeconomic_data order by Average_Student_Attendance desc nulls last limit 10;

 * sqlite:///RealWorldData.db
Done.

[('John Charles Haines Elementary School', '98.40%'),
 ('James Ward Elementary School', '97.80%'),
 ('Edgar Allan Poe Elementary Classical School', '97.60%'),
 ('Orozco Fine Arts & Sciences Elementary School', '97.60%'),
 ('Rachel Carson Elementary School', '97.60%'),
 ('Annie Keller Elementary Gifted Magnet School', '97.50%'),
 ('Andrew Jackson Elementary Language Academy', '97.40%'),
 ('Lenart Elementary Regional Gifted Center', '97.40%'),
 ('Disney II Magnet School', '97.30%'),
 ('John H Vanderpoel Elementary Magnet School', '97.20%')]

In [50]:
#list of 5 Schools with the lowest Average Student Attendance sorted in ascending order based on attendance
%sql select Name_of_School, Average_Student_Attendance from chicago_socioeconomic_data order by Average_Student_Attendance nulls last limit 5;

 * sqlite:///RealWorldData.db
Done.

[('Richard T Crane Technical Preparatory High School', '57.90%'),
 ('Barbara Vick Early Childhood & Family Center', '60.90%'),
 ('Dyett High School', '62.50%'),
 ('Wendell Phillips Academy High School', '63.00%'),
 ('Orr Academy High School', '66.30%')]

In [ ]:
#Remove the '%' from th Average Student Attendance column - replace - 6
%sql select Name_of_School, REPLACE(Average_Student_Attendance, '%', '') from chicago_socioeconomic_data order by Average_Student_Attendance nulls last limit 5;

 * sqlite:///RealWorldData.db
Done.

[('Richard T Crane Technical Preparatory High School', '57.90'),
 ('Barbara Vick Early Childhood & Family Center', '60.90'),
 ('Dyett High School', '62.50'),
 ('Wendell Phillips Academy High School', '63.00'),
 ('Orr Academy High School', '66.30')]

In [ ]:
con.close()